html, body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Lobster', cursive;
  color: #442D25;
}

.headertitle {
  float: left;
  margin-left: 50px;
  line-height: 80px;
  font-size: 28px;
}

.headerphone {
  float: right;
  margin-right: 10px;
  line-height: 80px;
  font-size: 24px;
  padding-right: 15px;
}

.header {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background: rgba(255, 255, 255, 0.75);
}

.menu {
  list-style: none;
  line-height: 55px;
  float: left;
}

.menu li {
  display: inline-block;
  white-space: nowrap;
}

.menu-link {
  margin: 0;
  width: 130px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #442D25;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-link:active {
  
}

.section {
  display: block;
  width: 100%;
  background: gray center center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-image: url("img/three_houses.jpg");
}

.section-main {
  position: relative;
  width: 42vw;
  height: 100vh;
}

.background {
  position: absolute;
  top: -60vh;
  right: -5vw;
  left: -100vw;
  bottom: -50vh;
  transform: rotate(20deg);
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -15vw;
  bottom: 0;
  transform: rotate(-20deg);
  background:
    linear-gradient(
      0,
      rgba(92, 169, 186, 0.43) 60%,
      rgba(92, 169, 186, 0.5) 60%
    ),
    linear-gradient(
      90deg,
      rgba(92, 169, 186, 0.43) 60%,
      rgba(92, 169, 186, 0.5) 60%
    );
  background-size: 2em 2em;
  background-color: seashell;
  background-position: center 1em;
}

.section-main-text {
  display: none;
  padding-top: 80px;
  padding-left: 50px;
  font-size: 24px;
  z-index: 10;
  position: relative;
}

.section-main-text:target {
  display: block;
}
